/* 2b. Background black. */
body {
  background-color: black;
}

/* 1. The main h1 text should be using the Regular Libre Baskerville Font from Google Fonts:
  https://fonts.google.com/specimen/Libre+Baskerville */
/* 6. Read about the text-transform property on MDN docs to make the h1 uppercase with CSS.
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform */
h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
}

/* 3. Add your own image into the images folder inside assets. It should have a 5px white border. */
/* 5c. Hint: Set the image to have a width of 100% so it fills the div. */
.motivation-img {
  border: 5px solid white;
  width: 100%;
}

/* 2a. The text should be white and background black. */
/* 4. The text should be center aligned. */
/* 5b. Adjust the margins so that the image and text are centered on the page. 
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%. */
.poster {
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}